<p>This is problem </p>
<div id="editor">
def initialize
  @hello = money
end
</div>
    
 
 <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/ruby");
</script>
