/* line 4, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
#editor {
  position: relative;
  width: 95%;
  max-width: 1200px;
  height: 700px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

/* line 16, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
#textarea, #hidden {
  visibility: hidden;
}

/* line 20, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
#result {
  background-color: #e8e8e8;
}

/* line 24, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.center {
  text-align: center;
}

/* line 28, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.sample-input-and-output {
  width: 85%;
}

/* line 32, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.problem-controls {
  width: 33%;
}

/* line 36, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.sample-input {
  float: left;
}

/* line 40, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.sample-output {
  float: right;
}

/* line 44, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.sample-output, .sample-input {
  width: 50%;
}

/* line 48, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.sample-text {
  text-align: left;
  margin: 2px;
}

/* line 53, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.button-small {
  font-size: 80%;
}

/* line 57, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.problem-form {
  text-align: center;
  border-radius: 2px;
  background: #f4f4f4;
  border: 2px solid #d1d1d1;
  width: 80%;
  max-width: 1000px;
  height: 450px;
  margin: 0 auto;
}

/* Adjust the form elements so they don't take up the whole element */
/* line 69, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.problem-name {
  width: 80%;
  margin: 0 auto;
}

/* line 74, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.problem-description {
  width: 80%;
  margin: 0 auto;
}

/* line 79, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
textarea {
  resize: none;
}

/* makes it so submit button doesn't take up entire screen */
/* line 84, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.submit-form {
  max-width: 900px;
  margin: 0 auto;
}

/* Options button on problem#index page */
/* line 90, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/problems.css.scss */
.options-button {
  margin-bottom: 10px;
}
