/* line 4, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/results.css.scss */
.result-editor {
  height: 500px;
  width: 90%;
  max-width: 900px;
}

/* line 10, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/results.css.scss */
.test-submit-form {
  margin: 10px;
}

/* line 14, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/results.css.scss */
blockquote {
  margin-top: 20px;
}
