/* line 4, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/tests.css.scss */
.editor {
  position: relative;
  width: 95%;
  max-width: 1200px;
  height: 550px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

/* line 16, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/tests.css.scss */
.table-header tr th {
  text-align: center;
}

/* line 20, /home/caseymcguire/Desktop/Projects/CS440/OnlineJudge/app/assets/stylesheets/tests.css.scss */
.instructions-block {
  margin-top: 20px;
}
