

<div class="jumbotron">
    <div id="editor">
class Solution{
  public static void main(String[] args){
	System.out.println("Hello world");
  }
}
    </div>
    
    
    <script>
     var editor = ace.edit("editor");
     editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/java");
    </script>
</div>
