<div class="language-form">
    <h1>Add a new language.</h1>


    <%= form_tag(languages_path, :method => "post", :class => "pure-form") do %>
	<label for="language-name">Language Name: </label>
	<input id="language-name" name="language_name" type="text">
	<input type="submit" value="Create">
    <% end %>
</div>
