<div class="container">
    <div class="jumbotron">
	<h1>Welcome to Casey's super awesome coding website.</h1>
	<h2>Here, the only hope of humanity toils in obscurity</h2>
	
	<%= link_to problems_path, :class => "btn btn-success btn-lg" do %>
	    Problems
	<% end %>
    </div>
</div>
