<h1>Hello results#edit </h1>


<div class="result-editor" id="expected-result-editor">
</div>

<div class="result-editor" id="input-editor">
    
</div>


<%= form_tag result_path(@cur_result), :method => "put" do %>
    <input name="input" type="hidden" id="result-input" value="<%= @cur_result.input %>">
    <input name="expected_result" type="hidden" id="expected-result-input" value="<%= @cur_result.expected_result%>"> 
    <input type="submit" class="btn btn-primary">
<% end %>




