<h1>Hello results#edit </h1>


<div id="editor">
</div>

<form action="<%=result_path%>" method="put">
    <textarea id="result-textarea" name="textarea"> </textarea>
    <input type="submit" value="submit">
</form>
