<h1>Hello results#edit </h1>


<div class="result-editor" id="expected-result-editor">
</div>

<div class="result-editor" id="input-editor">
    
</div>

<form action="<%=result_path%>" method="put">
    <textarea class="hidden-textarea" id="result-textarea" name="textarea"></textarea>
    <textarea class="hidden-textarea" id="expected-result-area"> </textarea>
    <input type="submit" class="btn btn-primary">
</form>
