<h1>Hello Result#new </h1>

<div id="editor">
</div>



<form action="<%=results_path%>" method="post">
    <textarea id="result-textarea" name="textarea"></textarea>
    <input type="submit" class="btn btn-primary">
</form>
