<h1>Hello Result#new </h1>

<div class="result-editor" id="expected-result-editor">
</div>

<div class="result-editor" id="input-editor">
    
</div>



<form action="<%=results_path%>" method="post">
    <input name="input" type="hidden" id="input" value="">
    <input name="expected_result" type="hidden" id="expected-result" value=""> 
    <input type="submit" class="btn btn-primary">
</form>
