<h1>Hello Result#new </h1>
<h2>Editing the result for </h2>

<h4>This is where the expected output of standard out will be. The user will not see this.</h4>
<div class="result-editor" id="expected-result-editor">
</div>

<h4>This is where the input to standard in will go in the problem is a contest problem. The user will not see this.</h4>
<div class="result-editor" id="input-editor">
    
</div>

<h4>This is where sample input will go. The user will see this.</h4>

<div class="result-editor" id="sample-input-editor"></div>
<h4>This is where sample output will go. The user will see this.</h4>

<div class="result-editor" id="sample-output-editor"></div>



<%= form_tag results_path, :method => "post" do%>
    <input name="input" type="hidden" id="input" value="">
    <input name="problem_id" type="hidden" value="<%=params[:problem_id]%>">
    <input name="expected_result" type="hidden" id="expected-result" value="">
   <input name="sample_input" type="hidden" id="sample_input" value="">
    <input name="sample_output" type="hidden" id="sample_output" value=""> 
    <input type="submit" class="btn btn-primary" value="Create">
<% end %>

