/*
 *= require_self
 *= require purecss/buttons
 *= require purecss/forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.logo a{
    color: inherit;
    text-decoration: none;
}

p:empty{
    display:none;
}
