// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.language-form {
    text-align: center;
    border-radius: 2px;
    background: #f4f4f4;
    border: 2px solid #d1d1d1;
    width: 500px;
    height: 150px;
    margin: 0 auto;
}

.language-container{
    text-align: center;
}