// Place all the styles related to the Problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#editor { 
    position: relative;
    width: 95%;
    max-width: 1000px;
    height: 700px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

#textarea, #hidden{
    visibility: hidden;
}

#result{
    background-color: #e8e8e8;
}

.center{
    text-align: center;
}

.sample-input-and-output{
  width: 85%;
}

.problem-controls{
    width: 33%;
}

.sample-input{
  float: left; 
}

.sample-output{
  float: right;
}

.sample-output, .sample-input{
    width: 50%;
}

.sample-text{
    text-align: left;
    margin: 2px;
}

.button-small{
    font-size: 80%;
}

.problem-form {
    text-align: center;
    border-radius: 2px;
    background: #f4f4f4;
    border: 2px solid #d1d1d1;
    width: 80%;
    max-width : 1000px;
    height: 450px;
    margin: 0 auto;
}

/* Adjust the form elements so they don't take up the whole element */
.problem-name{
    width : 80%;
    margin: 0 auto;
}

.problem-description{
    width : 80%;
    margin : 0 auto;
}

textarea{
    resize: none;
}

/* makes it so submit button doesn't take up entire screen */
.submit-form{
    max-width: 900px;
    margin: 0 auto;
}

/* Options button on problem#index page */    
.options-button{
    margin-bottom : 10px;
}