// Place all the styles related to the Problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#editor { 
    position: relative;
    width: 700px;
    height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

#textarea, #hidden{
    visibility: hidden;
}

#result{
    background-color: #e8e8e8;
}

.center{
    text-align: center;
}

.problem-controls{
    width: 33%;
}
