<h1> Hello test#index</h1>

<div class="container">
    <table class="table table-striped">
	<%@problems.each do |problem| %>
	    <tr>
		<td><%=problem.name%></td>
		<%@languages.each do |language| %>
		    <td>
		    <%= link_to new_test_path(:problem_id => problem.id, :language_id => language.id), method: :get do %>
			<%=language.name%>
		    <% end %></td> 
		<% end %>
	    </tr>
	<% end %>
    </table>
</div>
