.center{
    text-align: center;
}

.signup-login-form{
    text-align: center;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    border-radius: 2px;
    background: #f4f4f4;
    border: 2px solid #d1d1d1;
}